In [1]:
catalog.list()

['companies',
 'reviews',
 'shuttles',
 'preprocessed_companies',
 'preprocessed_shuttles',
 'model_input_table',
 'regressor',
 'parameters',
 'params:test_size',
 'params:random_state',
 'params:features']

In [2]:
df = catalog.load('companies')
df

2021-07-28 22:57:48,449 - kedro.io.data_catalog - INFO - Loading data from `companies` (CSVDataSet)...

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t
...,...,...,...,...,...
77091,6654,100%,Tonga,3.0,f
77092,8000,NaN,Chile,2.0,t
77093,14296,NaN,Netherlands,4.0,f
77094,27363,80%,NaN,3.0,t
77095,12542,98%,Mauritania,19.0,t